@model DataEditor.Models.seting
@{ ViewBag.Title = "تنظیمات";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
@section title{تنظیمات}
@section seting{disabled}
@section style{
    <style>
        .alert-dismissible #close {
            position: absolute;
            top: 5px;
            right: 0;
            padding: 0;
            color: inherit;
        }

        #mainNav {
            z-index: 1;
        }

        #alert-danger, #alert-success {
            position: fixed;
            top: 10px;
            z-index: 2;
            right: 0;
        }
    </style>
}
@if (Model.error)
{
<div class="alert alert-danger alert-dismissible" id="alert-danger">
    <button type="button" class="close" id="close" data-dismiss="alert">&times;</button>
    <strong>خطا</strong> ذخیره اطلاعات با موفقیت انجام نشد !
</div> }
else if (ViewBag.succes != null && ViewBag.succes)
{
<div class="alert alert-success alert-dismissible" id="alert-success">
    <button type="button" class="close" id="close" data-dismiss="alert">&times;</button>
    <strong></strong> ذخیره اطلاعات با موفقیت انجام شد !
</div>}

else if (ViewBag.testconectionM == "True" && ViewBag.testconectionC == "True")
{
<div class="alert alert-success alert-dismissible" id="alert-success">
    <button type="button" class="close" id="close" data-dismiss="alert">&times;</button>
    <strong></strong> اتصال هر دو پایگاه با موفقیت برقرار شد !
</div>}
else if (ViewBag.testconectionM == "True" && ViewBag.testconectionC == "False")
{
<div class="alert alert-warning alert-dismissible" id="alert-success">
    <button type="button" class="close" id="close" data-dismiss="alert">&times;</button>
    <strong></strong>تنها بانک مستر ست با موفقیت متصل شد !
</div>}
else if (ViewBag.testconectionM == "False" && ViewBag.testconectionC == "True")
{
<div class="alert alert-warning alert-dismissible" id="alert-success">
    <button type="button" class="close" id="close" data-dismiss="alert">&times;</button>
    <strong></strong>تنها بانک مشتریان با موفقیت متصل شد !
</div>}
else if (ViewBag.testconectionM == "False" && ViewBag.testconectionC == "False")
{
<div class="alert alert-danger alert-dismissible" id="alert-success">
    <button type="button" class="close" id="close" data-dismiss="alert">&times;</button>
    <strong></strong> اتصال هر دو پایگاه شکست خورد !
</div>}

<div class="container d-flex justify-content-center align-items-center align-content-center justify-content-xl-center align-items-xl-center div-c" style="/*height: 83%;*/">
    <form action="@Url.Action("seting")" method="post" class="d-flex d-xl-flex flex-column justify-content-between col-12 col-md-8">
        <div class="form-group d-block"><label>گذرواژه</label><input class="form-control SqlUsername" name="pass" type="text" required="" autocomplete="on" value="@Model.pass"></div>
        <div class="form-group d-block"><label>نام کاربری (sql)</label><input class="form-control SqlUsername" name="SqlUsername" type="text" required="" autocomplete="on" value="@Model.SqlUsername"></div>
        <div class="form-group d-block"><label>آدرس(sql)</label><input class="form-control SqlUsername" name="DbSuorse" type="text" required="" autocomplete="on" value="@Model.DbSuorse"></div>
        <div class="form-group d-block"><label>نام پایگاه داده (masterset)</label><input class="form-control SqlUsername" name="DbName" type="text" required="" autocomplete="on" value="@Model.DbName"></div>
        <div class="form-group d-block"><label>نام پایگاه داده (Crm)</label><input class="form-control SqlUsername" name="DbName1" type="text" required="" autocomplete="on" value="@Model.DbName1"></div>
        <div class="form-group d-block"><label>گذرواژه (sql)<br></label><input class="form-control SqlPassword" name="SqlPassword" type="password" required="" autocomplete="off" value="@Model.SqlPassword"></div>
        <div class="form-group d-block"><label>سال مالی</label><input class="form-control FiscalYear" type="number" name="FiscalYear" required="" value="@Model.FiscalYear"></div>
        <div class="form-group d-block"><label>آدرس سرویس</label><input class="form-control urlServises" type="url" name="urlServises" required="" autocomplete="on" inputmode="url" value="@Model.urlServises"><small class="form-text text-muted">مثال: https:mysite.com/api</small></div>

        <div class="form-group d-block"><label>گذرواژه اول سرویس</label><input class="form-control SqlUsername" name="firstPass" type="text" required="" autocomplete="on" value="@Model.firstPass"></div>
        <div class="form-group d-block"><label>گذرواژه دوم سرویس</label><input class="form-control SqlUsername" name="secendPass" type="text" required="" autocomplete="on" value="@Model.secendPass"></div>

        <div class="submit">
            <button class="btn btn-secondary" name="button" value="save" type="submit">ذخیره</button>
            <button class="btn btn-secondary conection" name="button" type="submit" value="test">تست</button>
        </div>
    </form>
</div>

